section{
    padding-right: 8px;
    padding-left: 8px;
}
.list-item--material__thumbnail {
    border-radius: 0% !important;
}
.bordes{
    box-shadow: 5px 5px 5px 0px grey;
}
#mapid { height: 230px;
    width: 100%; 
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:230px;
}
.map-responsive #mapid{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
table, th, td {
    border: 1px solid black;
}
.titulo-barra{
    font-size: xx-large;
    text-align: center;
}
.list-item__thumbnail {
    margin-top: 10%;
}